<%= form_with(model: @habit) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Compose new habit..." %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Description" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>