<% if @events.present? %>
  <%= calendar @events do |event| %>
    <div class="<%= 'completed' if event.completed %>">
      <%= event.date.day %>
    </div>
    <%= form_with url: habit_events_path(@habit), method: :post do |form| %>
  <%= form.hidden_field :habit_id, value: @habit.id %>
  <%= form.label :date %>
  <%= form.date_field :date %>
  <%= form.submit 'Create event' %>
<% end %>
  <% end %>
<% else %>
   <%= form_with url: habit_events_path(@habit), method: :post do |form| %>
  <%= form.hidden_field :habit_id, value: @habit.id %>
  <%= form.label :date %>
  <%= form.date_field :date %>
  <%= form.submit 'Create event' %>
<% end %>
<% end %>